<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">Our Project</h1>
  <figure class="inline-block">
    <a href="https://www.imcv.org.au/amcustaging">
      <img src="/img/amcu_logo.png" width="480" alt="AMCU" class="h-auto align-middle border-none inline m-1">
    </a>
  </figure>
</div>
